.speech{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color :black;
}
.direction{
    font-family:sans-serif;
    font-size: 14px;
    color: black;
    
}
.direction:hover{
    background-color: lightblue;
    color :blue
}
.SOLNESS{
    color:brown;
}
.KAIA{
    color:green;
}
.HILDA{
    color:blueviolet;
}
.classtable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.classtable th, .classtable td {
    border: 1px solid darkblue;
    padding: 10px;
    text-align: center;
    color:#211198;
}

.classtable th {
    background-color: lightgrey;
}

.classtable tr {
    background-color: whitesmoke;
}